In [2]:
import sqlite3

# Connect to database
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Create table
cursor.execute('CREATE TABLE IF NOT EXISTS users (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)')

# Insert a record
cursor.execute('INSERT INTO users (name, age) VALUES (?, ?)', ("Alice", 25))
conn.commit()

# Fetch and display
cursor.execute('SELECT * FROM users')
print(cursor.fetchall())

# Close connection
conn.close()

[(1, 'Alice', 25)]

Create table and insert multiple values

In [3]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Create table if not exists
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
)
''')

# Data to insert (list of tuples)
users = [
    ("Alice", 25),
    ("Bob", 30),
    ("Charlie", 22),
    ("David", 28)
]

# Insert multiple records
cursor.executemany('INSERT INTO users (name, age) VALUES (?, ?)', users)

# Commit changes
conn.commit()

# Fetch and display records
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close connection
conn.close()

(1, 'Alice', 25)
(2, 'Alice', 25)
(3, 'Bob', 30)
(4, 'Charlie', 22)
(5, 'David', 28)

In [ ]:
Delete table

In [4]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('my_database.db')
cursor = conn.cursor()

# Drop the table (deletes table and all its data)
cursor.execute('DROP TABLE IF EXISTS users')

# Commit changes
conn.commit()

# Close the connection
conn.close()

print("Table 'users' has been deleted.")

Table 'users' has been deleted.