In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

df1=pd.read_excel("data.xlsx")
print(df)

      Name  Age                Email            Course
0    Alice   23    alice@example.com            Python
1      Bob   25      bob@example.com              Java
2  Charlie   22  charlie@example.com      Data Science
3    David   24    david@example.com  Machine Learning

In [6]:
import pandas as pd
df1=pd.read_excel("data.xlsx")
print(df1)

      Name  Age                Email            Course
0    Alice   23    alice@example.com            Python
1      Bob   25      bob@example.com              Java
2  Charlie   22  charlie@example.com      Data Science
3    David   24    david@example.com  Machine Learning

In [8]:
# For unstructured text files, use Python's built-in functions
with open("data.txt", "r") as file:
    df2 = file.read()
print(df2)

# Alternative: Read as lines
# with open("data.txt", "r") as file:
#     lines = file.readlines()
#     print(lines)

Hello, this is a sample text file.
It contains multiple lines of text.
Each line can represent a record, a sentence, or any unstructured data.
Python can easily read and write such files.
You can also process each line individually if needed.
End of file.

In [11]:
import pandas as pd
import json

# For nested JSON, read as dictionary first then normalize
with open("data.json", "r") as file:
    data = json.load(file)
    
# Convert to DataFrame using json_normalize for nested data
df3 = pd.json_normalize(data)
print(df3)

    name  age              email  is_student  \
0  Alice   25  alice@example.com        True

                                    courses address.street address.city  \
0  [Python, Data Science, Machine Learning]    123 Main St    Kathmandu

  address.country
0           Nepal